
#box{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 20vh; /* This ensures the content is centered vertically */
margin: 200px;
}
#box1   {
    height: 50px;
    width: 70px;
    background-color: red;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 20vh; /* This ensures the content is centered vertically */
margin: 200px;
}
#box3  {
    height: 50px;
    width: 70px;
    background-color: yellow;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 20vh; /* This ensures the content is centered vertically */
margin: 200px;
}
#box4  {
    height: 50px;
    width: 70px;
    background-color: orange;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 20vh; /* This ensures the content is centered vertically */
margin: 200px;
}
#box5  {
    height: 50px;
    width: 70px;
    background-color: orange;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 20vh; /* This ensures the content is centered vertically */
margin: 200px;
}