* {
    margin: 0;
    padding: 0;
}

.container {
    box-sizing: border-box;
    padding: 10px 10px;
    display: grid;
    background-color: aqua;
    height: 700px;
    /* width: 900px; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 100px;
    row-gap: 12px;
    column-gap: 12px;

    /* Justify-items is used for the grid/flex container */
    /* justify-items: start; */
    /* justify-items: end; */
    /* justify-items: right; */
    /* justify-items: center; */
    /* justify-items: left; */
    justify-content: center;

    align-items: center;
    /* align-items: baseline; */
    /* align-items: stretch; */

    /* place-items: center; */
    /* This property justifies + aligns items to Center, left, right, etc*/
    /* place-items: inherit; */
}

.item {
    background-color: blueviolet;
    height: 122px;
    width: 122px;
    width: 100%
}

.item2 {
    /* justify-self is used for the items inside the grid/flex */
    justify-self: center;

}

.header {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 45px;
    grid-column: 1/ span 3;
}

.footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 45px;
    grid-column-start: 1;
    grid-column-end: 4;
}